<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List All Products</title>
</head>
<body>
    <h1><%= category %> </h1>
    <!-- <h1>Listing All Products</h1> -->
    <% for (let product of products) { %>
        <a href="/products/<%= product._id%>"><li><%= product.name %> </li> </a>
        
   <%} %> 
<a href="/products/new">Add Product</a>

<form action="/products">
<button>All Products</button>
</form>
    
</body>
</html>